.form {
    background-color:ghostwhite;
    position: fixed;
    right: 50%;
    bottom: 50%;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 2px 10px 1px gray;
    width: fit-content;
    transform: translate(50%, 50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.h1 {
    text-align: center;
    margin: 10px 0 10px 0;
}

.input {
    border-radius: 10px;
    height: 25px;
    padding: 10px;
    border: 1px solid black;
    font-size: larger;
    outline: none;
}

.input:invalid {
    border: 1px solid red;
}

.input_label {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-right: 100px;
}

.button_zone {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button_zone > button {
    padding: 3px 6px 3px 6px;
    width: 70px;
    font-size: large;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
}

.button_zone > button:hover {
    opacity: 0.8;
}

.button_zone > button[type="reset"] {
    color: white;
    background-color: brown;
}

.button_zone > button[type="submit"] {
    color: white;
    background-color:royalblue;
}