.form {
    background-color: ghostwhite;
    position: fixed;
    right: 50%;
    bottom: 50%;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 2px 10px 1px gray;
    width: fit-content;
    transform: translate(50%, 50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.h1 {
    text-align: center;
    margin: 10px 0 10px 0;
}

.input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
    height: 25px;
    width: 250px;
    padding: 10px;
    border: 0;
    font-size: medium;
    outline: none;
    box-shadow: 1px 1px 1px gray;
}

.input:invalid {
    box-shadow: 1px 1px 1px red;
}

.input_label {
    margin-top: 10px;
    font-size: 15px;
    color: grey;
    letter-spacing: 0.5px;
    text-align: center;
    margin-right: -150px;
    margin-bottom: 10px;
}

.button_zone {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button_zone>button {
    padding: 4px 6px 4px 6px;
    width: 80px;
    font-size: medium;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    color: white;
    background-color: royalblue;
}

.button_zone>button:hover {
    transform: translateY(-1px);
    background-color: darkslateblue;
}