

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile.dev
    hostname: backend
    volumes:
      - ../backend:/app
    expose:
      - "8080"
    ports:
      - "8080:8080"